@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';
@import '../../../../assets/css/answer-questions.scss';

header {
    background-color: $white-color;
    border-bottom: 1px solid $divider-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    .container {
        height: 4rem;
        gap: $s-2;
        justify-content: space-between;
        .header_logo {
          img {
            max-width: 140px;
          }
        }
        .header_right {
            .btn {
                padding: 0.7rem $s-2;
            }
        }
    }
}

main {
    position: relative;
    top: 4rem;
    .sp {
        &_body {
            &_btns {
                .loading-spinner {
                    margin-top: 0;
                }
            }
        }
    }
}