<div class="sidenav_container">
  <h5 class="title uc">Account</h5>
  <nav>
    <ul>
      <li
        class="dis-flex"
        routerLinkActive="active"
        routerLink="/admin"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon">
          <img src="../../../../assets/img/svg/home.svg" alt="" />
        </span>
        Overview
      </li>
      <li
        class="dis-flex"
        routerLinkActive="active"
        routerLink="/admin/surveys"
      >
        <span class="icon">
          <img src="../../../../assets/img/svg/folder.svg" alt="" />
        </span>
        Survey
      </li>
      <li
        class="dis-flex"
        routerLinkActive="active"
        routerLink="/admin/display-admins"
        *ngIf="user?.type === 'super'"
      >
        <span class="icon">
          <img src="../../../../assets/img/svg/people.svg" alt="" />
        </span>
        Admins
      </li>
      <li
        class="dis-flex"
        routerLinkActive="active"
        routerLink="/admin/settings"
      >
        <span class="icon">
          <img src="../../../../assets/img/svg/settings.svg" alt="" />
        </span>
        Settings
      </li>
    </ul>
  </nav>
  <div class="log-out dis-flex">
    <p class="clickable hover-1" (click)="logOut()">Log Out</p>
  </div>
</div>
