<div class="sidenav_container">
  <h5>Account</h5>
  <nav>
    <ul>
      <li
        class="dis-flex active"
        routerLinkActive="active"
        routerLink="/admin"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="icon">
          <img src="../../../../assets/img/svg/home.svg" alt="" />
        </span>
        Overview
      </li>
      <li class="dis-flex" routerLinkActive="active" routerLink="/admin/forms">
        <span class="icon">
          <img src="../../../../assets/img/svg/folder.svg" alt="" />
        </span>
        Forms
      </li>
    </ul>
  </nav>
</div>
