<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="formId"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Surveys</h2>
  </div>
  <div class="btns">
    <button class="btn prim_btn" routerLink="/admin/create-survey">
      Create Survey
    </button>
  </div>
</section>

<section class="surveys">
  <div class="table-container">
    <table>
      <tr class="table-header">
        <th>Title</th>
        <th>Date</th>
        <th>Total Responses</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr class="table-body" *ngFor="let survey of surveys">
        <td
          [title]="survey?.title"
          [routerLink]="'/admin/survey/' + survey?.shortCode + '/edit-survey'"
        >
          {{
            survey?.title.length > 30
              ? survey?.title.slice(0, 30) + "..."
              : survey?.title
          }}
        </td>
        <td>{{ survey?.createdAt | date: "mediumDate" }}</td>
        <td>0</td>
        <td>active</td>
        <td class="actions dis-flex">
          <i
            class="bx bx-share icon share"
            title="Share"
            (click)="openShareModal(survey?.shortCode)"
          ></i>
          <i
            class="bx bx-edit-alt icon edit"
            [routerLink]="'/admin/survey/' + survey?.shortCode + '/edit-survey'"
            title="Edit"
          ></i>
          <i
            class="bx bx-bar-chart-alt icon analyze"
            title="Analyze"
            [routerLink]="'/admin/survey/' + survey?.shortCode + '/response'"
          ></i>
          <!-- /admin/survey-response -->
          <i class="bx bx-pause icon suspend" title="Suspend"></i>
        </td>
      </tr>
    </table>
  </div>
  <!-- Data Loading -->
  <span class="loading-spinner" *ngIf="dataLoading">
    <div class="spinner-3"></div>
  </span>
</section>
