<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="surveyShortCode"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h3 class="clickable" routerLink="/admin/surveys">Surveys</h3>
  </div>
  <div class="btns">
    <button class="btn prim_btn" routerLink="/admin/create-survey">
      Create Survey
    </button>
  </div>
</section>

<section class="surveys">
  <div class="table-container">
    <table>
      <tr class="table-header">
        <th>Title</th>
        <th>Date</th>
        <th>Total Responses</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr class="table-body" *ngFor="let survey of surveys">
        <td [title]="survey?.title" (click)="editSurvey(survey)">
          {{
            survey?.title.length > 30
              ? survey?.title.slice(0, 30) + "..."
              : survey?.title
          }}
        </td>
        <td>{{ survey?.createdAt | date: "mediumDate" }}</td>
        <td>0</td>
        <td>active</td>
        <td class="actions dis-flex">
          <i
            class="bx bx-share icon share"
            title="Share"
            (click)="openShareModal(survey)"
          ></i>
          <i
            class="bx bx-edit-alt icon edit"
            (click)="editSurvey(survey)"
            title="Edit"
          ></i>
          <i
            class="bx bx-bar-chart-alt icon analyze"
            title="Analyze"
            (click)="analyzeSurvey(survey)"
          ></i>
          <i
            class="icon suspend"
            title="Suspend"
            (click)="updateSurveyStatus(survey)"
            [class]="survey.available ? 'bx bx-play' : 'bx bx-pause'"
          ></i>
        </td>
      </tr>
    </table>
  </div>
  <!-- Data Loading -->
  <span class="loading-spinner" *ngIf="dataLoading">
    <div class="spinner-3"></div>
  </span>
</section>
