@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dash.scss';

.surveys {
    &_list {
        @include card($value: 300px);
        &_item {
            padding: $s-2;
            box-shadow: $box-shadow1;
            border-radius: $border-radius4;
            .image {
                width: 100%;
                height: 200px;
                border-radius: $border-radius3;
            }
            .details {
                margin-top: $s-2;
                display: grid;
                grid-gap: $s-2;
                &_header,
                &_action {
                    gap: $s-2;
                    justify-content: space-between;
                }
                &_header {
                    .date {
                        color: #413DEE;
                        background: rgba(65, 61, 238, 0.1);
                        border-radius: $border-radius1;
                        padding: $s-1;
                    }
                }
            }
        }
    }
}


.table-container {
    overflow-x: auto;
    // Table
    table {
        border-collapse: separate;
        border-spacing: 0 $s-2;
        width: 100%;
        min-width: max-content;
        td, th {
            padding: $s-2;
            // font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.01em;
            text-align: left;
        }
        tr {
            margin-bottom: $s-2;
            &.table-header {
                th {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            &.table-body {
                background-color: $grey4;
                cursor: pointer;
                td {
                    &:first-child {
                        border-radius: $border-radius3 0 0 $border-radius3;
                        border-left: 3px solid transparent;
                        transition: all 0.2s ease-in;
                    }
                    &:last-child {
                        border-radius: 0 $border-radius3 $border-radius3 0;
                    }
                    &.actions {
                        button {
                            width: 100px;
                            padding: 0.5rem;
                            font-size: 14px;
                            &.suspend-btn {
                                background-color: #FFA724;
                                color: $white-color;
                            }
                            &.del-btn {
                                background-color: rgba(228, 71, 68, 0.1);
                                color: #E44744;
                            }
                        }
                        display: flex;
                        align-items: center;
                        gap: $s-2;
                        .icon {
                            font-size: 25px;
                            transition: all 0.2s ease-in;
                            padding: $s-1;
                            cursor: pointer;
                            &:hover {
                                background-color: $white-color;
                                border-radius: 50%;
                            }
                            &.share {
                                color: rgb(0, 195, 255);
                            }
                            &.edit {
                                color: $grey1;
                            }
                            &.suspend {
                                color:#FFA724;
                            }
                        }   
                    }
                }
                &:hover {
                    td {
                        &:first-child {
                            border-left: 3px solid $blue;
                        }
                    }
                }
            }
        }
    }
}