<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="formId"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb dis-flex">
    <h3 class="clickable" routerLink="/admin/surveys">Surveys</h3>
    <i class="bx bx-chevron-right icon"></i>
    <p [title]="newSurveyData?.title">
      {{
        newSurveyData?.title.length > 20
          ? newSurveyData?.title.slice(0, 20) + "..."
          : newSurveyData?.title
      }}
    </p>
  </div>
  <div class="btns dis-flex">
    <i
      class="bx bx-show icon clickable"
      title="Preview"
      (click)="previewSurvey()"
    ></i>
    <i class="bx bx-save icon clickable" title="Save" (click)="onSave()"></i>
    <button class="btn sec_btn" routerLink="/admin/create-survey">
      Change details
    </button>
  </div>
</section>

<section>
  <form [formGroup]="surveyForm">
    <div class="sfa" formArrayName="sections">
      <!-- Sections starts -->
      <div
        class="sfa_section"
        *ngFor="let section of sections().controls; let sectionIndex = index"
      >
        <div [formGroupName]="sectionIndex">
          <div class="sfa_section_header dis-flex">
            <div class="input-field">
              <input
                type="text"
                placeholder="Section Title"
                name="section-{{ sectionIndex }}"
                formControlName="sectionTitle"
                spellcheck="true"
              />
            </div>
            <i
              class="bx bx-x icon delete"
              title="Remove Section"
              (click)="removeSection(sectionIndex)"
            ></i>
          </div>
          <!-- Questions starts -->
          <div formArrayName="questions">
            <div
              class="sfa_container"
              *ngFor="
                let question of sectionQuestions(sectionIndex).controls;
                let questionIndex = index
              "
            >
              <div [formGroupName]="questionIndex">
                <div class="sfa_header dis-flex">
                  <div class="sfa_header_question">
                    <div class="input-field">
                      <input
                        type="text"
                        placeholder="State your question"
                        name="question-{{ questionIndex }}"
                        formControlName="name"
                        spellcheck="true"
                      />
                    </div>
                  </div>
                  <div class="sfa_header_right dis-flex">
                    <div
                      class="sfa_header_right_type"
                      (click)="dropdownBtn.click()"
                    >
                      <div class="dropdown-value dis-flex clickable">
                        {{ question.value.type | titlecase }}
                        <i class="bx bx-chevron-down icon"></i>
                      </div>
                      <input
                        type="checkbox"
                        [id]="'dropdown-' + sectionIndex + questionIndex"
                        class="dropdown-btn"
                        style="display: none"
                        #dropdownBtn
                      />

                      <div class="dropdown-area" style="overflow: auto">
                        <div class="dropdown-area_list">
                          <label
                            class="dropdown-area_list_item"
                            *ngFor="let questionType of questionTypes"
                            (click)="hi.click()"
                          >
                            <div>
                              <input
                                type="radio"
                                name="type"
                                [value]="questionType.type"
                                formControlName="type"
                                style="display: none"
                                #hi
                              />

                              <h5>{{ questionType.title }}</h5>
                              <p>{{ questionType.description }}</p>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="sfa_header_right_actions dis-flex">
                      <div class="required dis-flex">
                        Required
                        <div class="switch">
                          <input
                            [id]="
                              'switch-' + sectionIndex + '-' + questionIndex
                            "
                            type="checkbox"
                            name="required-{{ sectionIndex }}-{{
                              questionIndex
                            }}"
                            formControlName="required"
                            class="switch-input"
                          />
                          <label
                            [for]="
                              'switch-' + sectionIndex + '-' + questionIndex
                            "
                            class="switch-label"
                          ></label>
                        </div>
                      </div>
                      <i
                        class="bx bx-trash icon delete"
                        title="Remove Question"
                        (click)="removeQuestion(sectionIndex, questionIndex)"
                      ></i>
                    </div>
                  </div>
                </div>

                <!-- Options starts -->
                <div class="sfa_body">
                  <div class="sfa_body_container">
                    <ng-container
                      *ngIf="
                        question.value.type == 'radio' ||
                        question.value.type == 'checkbox'
                      "
                    >
                      <div class="option-field">
                        <div class="option-field_info dis-flex">
                          <i class="bx bx-info-circle icon"></i>
                          <p *ngIf="question.value.type == 'radio'">
                            Users can choose a single option
                          </p>
                          <p *ngIf="question.value.type == 'checkbox'">
                            Users can choose multiple option
                          </p>
                        </div>
                        <div formArrayName="options">
                          <ul class="option-field_list">
                            <li
                              *ngFor="
                                let option of sectionQuestionOptions(
                                  sectionIndex,
                                  questionIndex
                                ).controls;
                                let optionIndex = index
                              "
                            >
                              <div
                                class="option-field_list_item dis-flex"
                                [formGroupName]="optionIndex"
                              >
                                <label for="">{{ optionIndex + 1 }}.</label>
                                <div class="input-field dis-flex">
                                  <input
                                    type="text"
                                    [placeholder]="
                                      'Option ' + (optionIndex + 1)
                                    "
                                    name="{{ optionIndex }}"
                                    formControlName="name"
                                  />
                                  <i
                                    class="bx bx-x icon close"
                                    (click)="
                                      removeOption(
                                        sectionIndex,
                                        questionIndex,
                                        optionIndex
                                      )
                                    "
                                  ></i>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="option-field_other">
                          <span
                            class="add-new clickable"
                            title="Add new option"
                            (click)="addOption(sectionIndex, questionIndex)"
                          >
                            <i class="bx bx-plus icon"></i>
                          </span>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="question.value.type == 'text'">
                      <div class="option-field">
                        <div class="option-field_info dis-flex">
                          <i class="bx bx-info-circle icon"></i>
                          <p>Users can type their response</p>
                        </div>
                        <div class="option-field_text">
                          <input
                            type="text"
                            placeholder="Type your response"
                            readonly
                          />
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- Options ends -->
              </div>
            </div>
            <div class="sfa_section_other dis-flex">
              <div
                class="add-new-question clickable"
                title="Add new question"
                (click)="addQuestion(sectionIndex)"
              >
                <i class="bx bx-plus icon"></i>
              </div>
            </div>
          </div>
          <!-- Questions ends -->
        </div>
      </div>
      <!-- Sections ends -->

      <div class="sfa_other dis-flex">
        <div
          class="add-new-sect dis-flex clickable"
          title="Add new section"
          (click)="addSection()"
        >
          <i class="bx bx-grid-horizontal icon"></i>
          <p>New Section</p>
        </div>
      </div>
    </div>
  </form>
</section>
