<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Surveys</h2>
  </div>
  <div class="btns dis-flex">
    <i
      class="bx bx-show icon clickable"
      title="Preview"
      routerLink="/surveys/id/survey-preview"
    ></i>
    <i class="bx bx-save icon clickable" title="Save"></i>
    <button class="btn prim_btn">Send</button>
  </div>
</section>

<app-survey-section></app-survey-section>
