<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Surveys</h2>
  </div>
  <div class="btns dis-flex">
    <button class="btn prim_btn">Preview</button>
    <button class="btn prim_btn">Save</button>
  </div>
</section>

<section>
  <!-- Surevey frame add (sfa) -->
  <div class="sfa">
    <div class="sfa_container">
      <div class="sfa_header dis-flex">
        <div class="sfa_header_type">
          <div
            class="input-field dis-flex clickable"
            (click)="toggleDropdown()"
          >
            <input
              type="text"
              placeholder="Select Question Type"
              class="clickable"
              [(ngModel)]="selectedDropdownValue"
              readonly
            />
            <i class="bx bx-chevron-down icon"></i>
          </div>
          <div class="dropdown-area" style="overflow: auto" *ngIf="isDropDown">
            <ul class="dropdown-area_list">
              <li
                class="dropdown-area_list_item"
                *ngFor="let i of questionTypes"
                (click)="selectItem(i)"
              >
                <h5>{{ i.title }}</h5>
                <p>{{ i.description }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="sfa_header_actions dis-flex">
          <div class="required dis-flex">
            Required
            <div class="switch">
              <input id="switch-1" type="checkbox" class="switch-input" />
              <label for="switch-1" class="switch-label"></label>
            </div>
          </div>
          <i class="bx bx-trash icon delete" title="Remove"></i>
        </div>
      </div>
      <div class="sfa_body" *ngIf="selectedDropdownType !== ''">
        <div class="sfa_body_container">
          <div class="question-field">
            <label for="question">State your question</label>
            <div class="input-field">
              <textarea
                name=""
                id="question"
                cols="30"
                rows="3"
                placeholder="Type here"
              ></textarea>
            </div>
          </div>
          <ng-container *ngIf="selectedDropdownType === 'Radio'">
            <div class="response-field">
              <div class="response-field_info dis-flex">
                <i class="bx bx-info-circle icon"></i>
                <p>Users can choose a single option</p>
              </div>
              <ul class="response-field_list">
                <li class="response-field_list_item dis-flex">
                  <label for="">1.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
                <li class="response-field_list_item dis-flex">
                  <label for="">2.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
                <li class="response-field_list_item dis-flex">
                  <label for="">3.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
              </ul>
              <div class="response-field_other">
                <span class="add-new clickable" title="Add new option">
                  <i class="bx bx-plus icon"></i>
                </span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedDropdownType === 'Checkbox'">
            <div class="response-field">
              <div class="response-field_info dis-flex">
                <i class="bx bx-info-circle icon"></i>
                <p>Users can choose multiple options</p>
              </div>
              <ul class="response-field_list">
                <li class="response-field_list_item dis-flex">
                  <label for="">1.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
                <li class="response-field_list_item dis-flex">
                  <label for="">2.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
                <li class="response-field_list_item dis-flex">
                  <label for="">3.</label>
                  <div class="input-field dis-flex">
                    <input type="text" />
                    <i class="bx bx-x icon close"></i>
                  </div>
                </li>
              </ul>
              <div class="response-field_other">
                <span class="add-new clickable" title="Add new option">
                  <i class="bx bx-plus icon"></i>
                </span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedDropdownType === 'Input'">
            <div class="response-field">
              <div class="response-field_info dis-flex">
                <i class="bx bx-info-circle icon"></i>
                <p>Users can type their response</p>
              </div>
              <div class="response-field_input">
                <input type="text" placeholder="Type your response" readonly />
              </div>
            </div>
          </ng-container>
          <!-- <ng-container *ngIf="selectedDropdownValue === 'boolean'">
            <div class="response-field">
              <div class="response-field_info dis-flex">
                <i class="bx bx-info-circle icon"></i>
                <p>Users can decide if a statment is true or false</p>
              </div>
              <div class="response-field_decide dis-flex">
                <span>True</span>
                <span>False</span>
              </div>
            </div>
          </ng-container> -->
        </div>
      </div>
    </div>
    <div class="sfa_other">
      <div class="add-new clickable" title="Add new question">
        <i class="bx bx-plus icon"></i>
      </div>
    </div>
  </div>
</section>
