@import '../../../../assets/css/auth.scss';
@import '../../../../assets/css/mixins.scss';
@import '../../../../assets/css/variables.scss';

.code-container {
    display: flex;
  align-items: center;
  justify-content: center;
  gap: $s-1;
  .input-field {
      border: 1px solid #4BB543 !important;
  }
}

.code {
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
    // padding: $s-1;
  }
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}