@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.loading-spinner {
    margin-top: $s-4;
}

.sp {
    max-width: 600px;
    margin: 0 auto;
    padding: $s-4 0;
    &_header {
        padding: $s-2;
        border-radius: $border-radius2;
        border: 1px solid $blue;
        margin-bottom: $s-2;
        color: $blue;
        p {
            margin-top: $s-1;
            padding-top: $s-1;
            border-top: 1px solid $grey2;
        }
    }

    &_body {
        padding-top: $s-2;
        border-top: 1px solid $grey2;
        &_sect-numb {
            margin-bottom: $s-2;
            text-align: center;
        }
        &_list {
            display: grid;
            grid-gap: $s-2;
            &_item {
                padding: $s-2;
                background: $grey2;
                border-radius: $border-radius2;
                transition: all 0.2s;
                border-left: 3px solid transparent;
                &:hover {
                    border-left: 3px solid $secondary100;
                }
                &_response {
                    margin-top: $s-2;
                    &_info {
                        margin-bottom: $s-1;
                        .icon {
                            margin-right: $s-1;
                        }
                    }
                    &_options {
                        display: grid;
                        grid-gap: $s-1;
                        li {
                            border-radius: $border-radius2;
                            background: $white-color;
                            transition: all 0.2s;
                            &.active {
                                background-color: $blue;
                                color: $white-color;
                            }
                            &:hover {
                                background-color: $grey4;
                            }
                            label {
                                width: 100%;
                                padding: $s-1;
                                cursor: pointer;
                            }
                            input {
                                display: none;
                                &:checked + label {
                                    background-color: $blue;
                                    color: $white-color;
                                    border-radius: inherit;
                                }
                            }
                        }
                    }
                    .input-field {
                        @include input-field();
                       
                    }
                }
            }
        }
        &_btns {
            display: flex;
            justify-content: flex-end;
            margin-top: $s-2;
            gap: $s-2;
            .btn {
                padding: $s-1;
                .icon {
                    font-size: 25px;
                    vertical-align: middle;
                }
            }
        }
    }
}