<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Surveys</h2>
  </div>
  <div class="btns dis-flex">
    <button class="btn prim_btn" routerLink="/admin/add-question">
      Continue
    </button>
  </div>
</section>

<section class="set-info">
  <div class="set-info_header">
    <h3 class="text-primary-color">Set the Survey Information</h3>
    <p>This information will tell the users what the survey is about</p>
  </div>
  <form class="auth_form">
    <div class="auth_form_field">
      <label for="title">Survey Title</label>
      <div class="input-field">
        <input type="text" id="title" placeholder="Type here" />
      </div>
    </div>
    <div class="auth_form_field">
      <label for="description">Survey Description</label>
      <div class="input-field">
        <textarea
          name=""
          id="description"
          cols="30"
          rows="5"
          placeholder="Type here"
          spellcheck="true"
        ></textarea>
      </div>
    </div>
  </form>
</section>
