<header>
  <div class="container dis-flex">
    <span class="header_logo clickable">Lasaco Assurance</span>
    <div class="header_right dis-flex">
      <button class="btn prim_btn" routerLink="/auth/login">Login</button>
    </div>
  </div>
</header>

<!-- Hero -->
<section class="hero">
  <div class="container ls_flex_content">
    <div class="ls_flex_details">
      <h1 class="ls_flex_details_title">
        Looking for targeted responses to surveys?
      </h1>
      <p>
        Get the responses you need in minutes with Lacaso Form Audience, our
        trusted panel of more than 175 million respondents from across the
        globe.
      </p>
      <div class="ls_flex_details_btn dis-flex">
        <button class="btn prim_btn" routerLink="/signup">Start Now</button>
      </div>
    </div>
    <div class="ls_flex_img">
      <img src="../../../../assets/img/hero-image.svg" alt="image" />
    </div>
  </div>
</section>

<app-default-footer></app-default-footer>
