@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

// Spinner
.loading-spinner {
    display: grid;
    place-items: center;
    .spinner-3 {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(farthest-side, $primary100 94%, #0000) top/8px 8px
          no-repeat,
        conic-gradient(#0000 30%, $primary100);
      -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
      animation: s3 1s infinite linear;
    }
  }

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.auth {
    width: 100%;
    display: flex;
    padding: 0 5%;
    &_container {
        margin: $s-6 auto;
        min-width: 350px;
        text-align: center;
        .auth_header {
            p {
                margin-top: $s-1;
            }
        }
        .auth_form {
            margin: $s-2 0;
            display: grid;
            grid-gap: $s-2;
            &_field {
                .input-field {
                    width: 100%;
                    border: 1px solid $grey2;
                    border-radius: 8px;
                    input {
                        width: 100%;
                        padding: $s-2;
                        border-radius: 8px;
                        border: none;
                        background-color: none;
                        outline: none;
                        &::placeholder {
                            color: $grey1;
                        }
                    }
                    .hide-icon {
                        padding: $s-2;
                    }
                }
                &.forgot-password {
                    justify-content: space-between;
                    gap: $s-2;
                    flex-wrap: wrap;
                    p {
                        color: $orange100;
                    }
                }
            }
            &_btns {
                .btn {
                    width: 100%;
                }
            }
        }
        .auth_others {
            margin-top: $s-4;
            span {
                color: $secondary100;
            }
        }
        
    }
}