<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<section class="auth">
  <div class="auth_container">
    <div class="auth_header">
      <h3 class="title">Hello 👋🏾</h3>
      <p>Pick up where you left off.</p>
    </div>
    <form class="auth_form" [formGroup]="userForm" (ngSubmit)="login()">
      <div class="auth_form_field">
        <div
          class="input-field"
          [ngClass]="{
            'is-invalid': isFormSubmitted && userForm.controls.username.errors
          }"
        >
          <input
            type="email"
            name="username"
            placeholder="Email Address"
            formControlName="username"
          />
        </div>
        <!-- Error -->
        <div
          class="input_error"
          *ngIf="isFormSubmitted && userForm.controls.username.errors"
        >
          <small *ngIf="userForm.controls.username.errors.required"
            >Username is required</small
          >
          <!-- <small *ngIf="userForm.controls.email.errors.email"
            >Email is invalid</small
          > -->
        </div>
      </div>
      <div class="auth_form_field">
        <div
          class="input-field dis-flex"
          [ngClass]="{
            'is-invalid': isFormSubmitted && userForm.controls.password.errors
          }"
        >
          <input
            [type]="hide ? 'password' : 'text'"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
          <i
            [class]="
              hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
            "
            (click)="hide = !hide"
          ></i>
        </div>
        <!-- Error -->
        <div
          class="input_error"
          *ngIf="isFormSubmitted && userForm.controls.password.errors"
        >
          <small *ngIf="userForm.controls.password.errors.required"
            >Password is required</small
          >
          <small *ngIf="userForm.controls.password.errors.minlength"
            >Your password must be at least 6 characters</small
          >
        </div>
      </div>
      <div class="auth_form_field forgot-password dis-flex">
        <!-- <label class="">
          <input type="checkbox" placeholder="Password" />
          Remember Me
        </label> -->
        <p class="clickable hover-1" routerLink="/auth/forgot-password">
          Forgot Password
        </p>
      </div>
      <div class="auth_form_btns">
        <button class="btn prim_btn" *ngIf="!loading">Sign In</button>
        <button class="btn load_btn" *ngIf="loading" [disabled]="loading">
          <span class="loading-spinner">
            <div class="spinner-3"></div>
          </span>
        </button>
      </div>
    </form>
    <!-- <div class="auth_others" *ngIf="isNotVerified">
      <p>
        Email not verified?
        <span class="clickable hover-1" (click)="sendEmailVerificationCode()"
          >Get code</span
        >
      </p>
    </div> -->
  </div>
</section>
