<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<section class="auth">
  <div class="auth_container">
    <div class="auth_header">
      <h3 class="title">Hello 👋🏾</h3>
      <p>Reset your account password here</p>
    </div>
    <form class="auth_form" [formGroup]="userForm">
      <div class="auth_form_field">
        <div class="input-field">
          <input
            type="text"
            name="token"
            placeholder="Token"
            formControlName="token"
          />
        </div>
      </div>
      <div class="auth_form_field">
        <div class="input-field dis-flex">
          <input
            [type]="hide ? 'password' : 'text'"
            name="newPassword"
            placeholder="Password"
            formControlName="newPassword"
          />
          <img
            src="../../../../assets/img/svg/akar-icons_eye-open.svg"
            alt="image"
            class="hide-icon"
            (click)="hide = !hide"
          />
        </div>
      </div>
      <div class="auth_form_btns">
        <button class="btn prim_btn" (click)="resetPassword()" *ngIf="!loading">
          Reset Password
        </button>
        <button class="btn load_btn" *ngIf="loading" [disabled]="loading">
          <span class="loading-spinner">
            <div class="spinner-3"></div>
          </span>
        </button>
      </div>
    </form>
  </div>
</section>
