@import './variables.scss';
@import './mixins.scss';

.loading-spinner {
    text-align: center;
}
.main_header {
    gap: $s-2;
    justify-content: space-between;
    margin-bottom: $s-3;
    .breadcrumb {
        gap: $s-1;
        align-items: center;
    }
    .btns {
        gap: $s-1;
        .icon {
            font-size: 25px;
            // color: $blue40;
            padding: $s-1;
            transition: all 0.2s ease-in;
            display: inline-block;
            cursor: pointer;
            &:hover {
                background-color: $grey2;
                border-radius: 50%;
            }
        }
        .spreadsheet {
            width: 35px;
            height: 35px;
        }
        .btn {
            margin-left: $s-1;
        }
    }
}

// Table starts
.table-container {
    overflow-x: auto;
    // Table
    table {
        border-collapse: separate;
        border-spacing: 0 $s-2;
        width: 100%;
        min-width: max-content;
        td, th {
            padding: $s-2;
            // font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.01em;
            text-align: left;
        }
        tr {
            margin-bottom: $s-2;
            &.table-header {
                th {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            &.table-body {
                background-color: $grey4;
                cursor: pointer;
                td {
                    &:first-child {
                        border-radius: $border-radius3 0 0 $border-radius3;
                        border-left: 3px solid transparent;
                        transition: all 0.2s ease-in;
                    }
                    &:last-child {
                        border-radius: 0 $border-radius3 $border-radius3 0;
                    }
                    &.actions {
                        button {
                            width: 100px;
                            padding: 0.5rem;
                            font-size: 14px;
                            &.suspend-btn {
                                background-color: #FFA724;
                                color: $white-color;
                            }
                            &.del-btn {
                                background-color: rgba(228, 71, 68, 0.1);
                                color: #E44744;
                            }
                        }
                        display: flex;
                        align-items: center;
                        gap: $s-2;
                        .icon {
                            font-size: 25px;
                            transition: all 0.2s ease-in;
                            padding: $s-1;
                            cursor: pointer;
                            &:hover {
                                background-color: $white-color;
                                border-radius: 50%;
                            }
                            &.share {
                                color: rgb(0, 195, 255);
                            }
                            &.edit {
                                color: $grey1;
                            }
                            &.suspend {
                                color:#FFA724;
                            }
                        }   
                    }
                }
                &:hover {
                    td {
                        &:first-child {
                            border-left: 3px solid $blue;
                        }
                    }
                }
            }
        }
    }
}
// Table ends