//-- Colors starts --//

$blue: #000F2D;
$blue80: rgba(0, 15, 45, 0.8);
$blue50: rgba(0, 15, 45, 0.5);
$blue40: rgba(0, 15, 45, 0.4);
$orange: #F38704;
$orange80: rgba(243, 135, 4, 0.4);
$orange40: rgba(243, 135, 4, 0.2);
$secondary100: #00B4CB;
$black: #000716;
$black5: rgba(0, 7, 22, 0.05);
$error100: #e92c2c;
$success100: #039855;
$warning100: #FACC15;


$text-color1: #141414;
$text-color2: #52525B;
$text-color3: #949494;

$grey1: #979797;
$grey2: #F1F1F1;
$grey3: #000F2D0D;
$grey60: #EAECF0;

$inner-border: #CFCFD4;
$divider-color: #ECEDF1;
$divider-color2: #AFB3B8;
$white-color: #ffffff;
$brightyellow: #F3C019;
//-- Colors ends --//

//-- Box shadow starts --//
$box-shadow1: 0px 8px 20px rgba(0, 0, 0, 0.08);
$box-shadow2: 4px 4px 40px rgba(112, 144, 176, 0.1);
//-- Box shadow ends --//

//-- Border starts --//
$border-radius1: 5px;
$border-radius2: 8px;
$border-radius3: 10px;
$border-radius4: 20px;
$border-radius5: 25px;
//-- Border starts --//

//-- Spacing starts --//
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 2rem;
$s-5: 2.5rem;
$s-6: 3rem;
//-- Spacing ends --//