//-- Colors starts --//

// Primary starts
$primary100: #2D2B6D;
// Primary ends

// Secondary starts
$secondary100: #DF7829;
// Secondary ends

// Error starts
$error100: #e92c2c;
// Error ends

// Success starts
$success100: #039855;
// Success ends

// Warning starts
$warning100: #FACC15;
// Warning ends


$grey20: #FBFCFD;
$grey40: #F9FAFB;
$grey60: #EAECF0;
$grey100: #A5A4AA;
$inner-border: #CFCFD4;
$divider-color: #ECEDF1;
$divider-color2: #AFB3B8;
$white-color: #ffffff;
$text-color1: #232323;
$text-color2: #52525B;
$text-color3: #949494;
$fushiapink: #CD1A6B;
$brightyellow: #F3C019;
//-- Colors ends --//

//-- Box shadow starts --//
$box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
$box-shadow2: 4px 4px 40px rgba(112, 144, 176, 0.1);
//-- Box shadow ends --//

//-- Border starts --//
$border-radius1: 5px;
$border-radius2: 10px;
$border-radius3: 10px;
$border-radius4: 20px;
$border-radius5: 25px;
//-- Border starts --//

//-- Spacing starts --//
$s-1: 0.5rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 2rem;
$s-5: 2.5rem;
$s-6: 3rem;
//-- Spacing ends --//