<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<div class="modal">
  <div class="modal_area">
    <span class="modal_area_close" (click)="closeShareModal()">
      <i class="bx bx-x icon clickable"></i>
    </span>
    <div class="modal_area_header">
      <h2>Share this survey</h2>
      <p>You can invite anyone to view this survey</p>
    </div>
    <form class="auth_form" [formGroup]="userForm">
      <!-- Email list -->
      <div class="email_list dis-flex" *ngIf="showEmailList">
        <div
          class="email_list_item dis-flex"
          *ngFor="let email of emailList; let emailIndex = index"
        >
          <small [title]="email">{{
            email.length > 12 ? email.slice(0, 10) + "..." : email
          }}</small>
          <i
            class="bx bx-x icon clickable"
            (click)="removeEmail(emailIndex)"
          ></i>
        </div>
      </div>
      <div class="email_input-field">
        <div class="auth_form_field dis-flex">
          <div class="input-field">
            <input
              type="email"
              name="email"
              placeholder="Enter Email Address"
              formControlName="email"
            />
          </div>
          <button class="btn sec_btn" (click)="addEmail()">Add</button>
        </div>
        <!-- Error -->
        <!-- <div
          class="input_error"
          *ngIf="isFormSubmitted && userForm.controls.email.errors"
        >
          <small *ngIf="userForm.controls.email.errors.required"
            >Email is required</small
          >
        </div> -->
      </div>

      <!-- Or -->
      <p class="or">Or</p>

      <!-- Upload sheet -->
      <div class="upload-sheet">
        <label for="">Upload an xlsx file containing only emails</label>
        <div
          class="upload-sheet_btn clickable dis-flex"
          appDragDrop
          (click)="fileInput.click()"
          (fileDropped)="uploadFile($event)"
        >
          <img
            src="../../../../assets/img/svg/icons8-microsoft-excel-2019.svg"
            alt=""
          />
          <p>Upload contacts</p>
        </div>
        <input
          type="file"
          id="sheet"
          (change)="uploadFile($event)"
          accept=".xlsx"
          hidden
          #fileInput
        />
        <p class="upload-sheet_file-name">{{ selectedFileName }}</p>
      </div>

      <!-- Message -->
      <div class="message_input-field">
        <label for="message">Message</label>
        <div class="auth_form_field dis-flex">
          <div
            class="input-field"
            [ngClass]="{
              'is-invalid': isFormSubmitted && userForm.controls.message.errors
            }"
          >
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="3"
              placeholder="Type your message"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <!-- Error -->
        <div
          class="input_error"
          *ngIf="isFormSubmitted && userForm.controls.message.errors"
        >
          <small *ngIf="userForm.controls.message.errors.required"
            >Message is required</small
          >
        </div>
      </div>

      <div class="auth_form_btns">
        <button class="btn prim_btn" *ngIf="!loading" (click)="shareForm()">
          Share
        </button>
        <!-- [disabled]="selectedFile === undefined || emailList.length === 0" -->
        <button class="btn load_btn" *ngIf="loading" [disabled]="loading">
          <span class="loading-spinner">
            <div class="spinner-3"></div>
          </span>
        </button>
      </div>
    </form>
    <div class="modal_area_other">
      <div class="share-link dis-flex clickable">
        <p
          (click)="
            copyLink('https://lasaco-form.netlify.app/#/surveys/' + formId)
          "
        >
          https://lasaco-form.netlify.app/#/surveys/{{ formId }}
        </p>
        <img
          src="../../../../assets/img/svg/fluent_document-copy-16-regular.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
