<p></p>
<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Hey {{ user.firstName }} 👋🏾</h2>
    <!-- <p>Create and manage surveys</p> -->
  </div>
</section>

<section class="stats">
  <div class="card">
    <div class="card_item">
      <p class="card_item_title">Active users</p>
      <h3>4</h3>
    </div>
    <div class="card_item">
      <p class="card_item_title">Total surveys</p>
      <h3>3</h3>
    </div>
    <div class="card_item">
      <p class="card_item_title">Total responses</p>
      <h3>0</h3>
    </div>
  </div>
</section>

<div class="chart-container">
  <canvas class="chart" id="chart1">{{ chart }}</canvas>
</div>
<div class="chart-container">
  <canvas class="chart" id="chart2">{{ chart }}</canvas>
</div>
