@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

.alert {
    position: fixed;
    right: 0;
    top: 5rem;
    // background-color: $grey2;
    color: $white-color;
    padding: $s-2;
    z-index: 200;
}