<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h2>Surveys</h2>
  </div>
  <div class="btns">
    <button class="btn prim_btn" routerLink="/admin/add-question">
      Add Survey
    </button>
  </div>
</section>

<section class="surveys">
  <div class="surveys_list">
    <div class="surveys_list_item">
      <img
        src="../../../../assets/img/form-image-1.png"
        alt="image"
        class="image"
      />
      <div class="details">
        <div class="details_header dis-flex">
          <span class="date">09/19/2022</span>
          <h4>60 Responses</h4>
        </div>
        <h3 class="details_title">
          User Research Survey Questions For An Online Marketplace for Small
          Business Owners.
        </h3>
        <div class="details_action dis-flex">
          <button class="btn">Edit</button>
          <button class="btn prim_btn">Share</button>
        </div>
      </div>
    </div>
  </div>
</section>
