<header>
  <div class="container dis-flex">
    <span class="header_logo clickable" routerLink="/">
      <img src="../../../../assets/img/lasaco-logo.png" alt="" />
    </span>
    <div class="header_right dis-flex">
      <button class="btn prim_btn" (click)="goBack()">Go back</button>
    </div>
  </div>
</header>

<section class="submit-success">
  <div class="submit-success_container">
    <img src="../../../../assets/img/success-done.svg" alt="" />
    <h3>Your response to this survey has been submit Successful</h3>
  </div>
</section>
