<header>
  <div class="header_container dis-flex">
    <div class="header_left dis-flex">
      <span class="header_left_menu clickable" (click)="toggleMenu()">
        <i class="icon" [class]="!isMenuOpen ? 'bx bx-menu' : 'bx bx-x'"></i>
      </span>
      <img
        src="../../../../assets/img/lasaco-logo.png"
        alt="image"
        class="logo clickable"
        routerLink="/"
      />
    </div>
    <div class="header_right dis-flex">
      <span class="profile-image clickable">
        <img src="../../../../assets/img/svg/profile-img.svg" alt="image" />
      </span>
      <span class="notifi clickable">
        <img src="../../../../assets/img/svg/bell.svg" alt="image" />
      </span>
    </div>
  </div>
</header>
