<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="formId"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb dis-flex">
    <h3 class="clickable" routerLink="/admin/surveys">Surveys</h3>
    <i class="bx bx-chevron-right icon"></i>
    <p
      [title]="survey?.title"
      class="clickable"
      [routerLink]="
        '/admin/surveys/' + this.currentShortCode.shortCode + '/edit-survey'
      "
    >
      {{
        survey?.title.length > 20
          ? survey?.title.slice(0, 20) + "..."
          : survey?.title
      }}
    </p>
    <i class="bx bx-chevron-right icon"></i>
    <p>Responses({{ totalSurveyResponses }})</p>
  </div>
  <div class="btns dis-flex">
    <!-- <i class="bx bx-spreadsheet spreadsheet icon clickable"></i> -->
    <i class='bx bx-reset icon reset' title="Clear" (click)="clearResponses()"></i>
    <img
      src="../../../../../assets/img/svg/icons8-microsoft-excel-2019.svg"
      alt="image"
      title="Spreadsheet"
      class="spreadsheet clickable"
      (click)="downloadAsExcel()"
    />
    <button
      class="btn tert_btn"
      [routerLink]="'/admin/surveys/' + survey?.shortCode + '/edit-survey'"
    >
      Questions
    </button>
    <button class="btn sec_btn" (click)="openShareModal(survey?.shortCode)">
      Send
    </button>
  </div>
</section>

<section class="response">
  <div class="response_list">
    <div
      class="response_list_item"
      *ngFor="let question of surveyQuestions; let i = index"
    >
      <div class="response_list_item_header dis-flex">
        <h3 class="question">{{ question.name }}</h3>

        <!-- <div class="right">{{ response.value.length }} responses</div> -->
      </div>
      <div class="response_list_item_body" [ngSwitch]="question.type">
        <ng-container *ngSwitchCase="'text'">
          <ul
            class="response_list_item_body_value"
            *ngFor="let response of question.responses"
          >
            <li class="dis-flex">
              <i class="bx bxs-disc icon"></i>
              {{ response.value }}
            </li>
          </ul>
        </ng-container>

        <div class="chart-container">
          <div class="chart" [id]="'chart-' + i"></div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Back to top -->
<a
  class="go-top clickable"
  (click)="scrollToTop()"
  [ngClass]="{ show: windowScrolled }"
>
  <i class="bx bx-chevron-up icon"></i>
</a>
