@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dash.scss';

.main_header {
    flex-wrap: wrap;
    .btns {
        .btn {
            padding: $s-1;
        }
    }
}

.response {
    &_list {
        display: grid;
        grid-gap: $s-2;
        &_item {
            border: 1px solid $blue;
            border-radius: $border-radius2;
            padding: $s-3;
            &_header {
                gap: $s-2;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-bottom: $s-2;
                border-bottom: 1px solid $grey2;
                .question {
                    color: $blue;
                }
            }
            &_body {
                margin-top: $s-2;
                &_value {
                    li {
                        gap: $s-1;
                        .icon {
                            font-size: 12px;
                            color: $secondary100;
                        }
                    }
                }
            }
            .chart-container {
                padding-top: $s-2;
                .chart {
                    width: 600px;
                    height: auto;
                    margin: auto;
                    @media only screen and (max-width: 745px) {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

// confirm delete modal
.modal.confirm-delete-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: $s-4 $s-2;
  background: rgba(35, 35, 35, 0.6);
  display: flex;
  z-index: 150;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  .modal_area {
    background-color: $white-color;
    padding: 2rem;
    border-radius: $border-radius1;
    margin: auto;
    width: 500px;
    box-shadow: $box-shadow1;
    position: relative;
    animation: slideIn 0.2s;
    @media only screen and (max-width: 870px) {
      width: 90%;
    }
    .modal-details {
      margin-bottom: $s-2;
      text-align: center;
      p {
        color: $text-color2;
        margin-top: $s-1;
      }
    }
    .modal-btns {
      justify-content: center;
      gap: $s-2;
      margin-top: $s-3;
      .skip_btn {
        border: 1px solid $inner-border;
        color: $grey1;
        background-color: transparent;
        &:hover {
          border-color: $blue;
        }
      }
      @media only screen and (max-width: 550px) {
        .btn {
          font-size: 16px;
        }
      }
    }
  }
}

// Go to top
.go-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    box-shadow: $box-shadow1;
    @include icon-area(44px, $blue);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    & .icon {
      color: $white-color;
      font-size: 26px;
      transition: all 0.2s ease;
    }
    &:hover .icon {
      transform: translateY(-10px);
    }
  }

  // Key frames
@keyframes slideIn {
    0% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -80, 0, 1);
      opacity: 0;
    }
    100% {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      opacity: 1;
    }
  }