<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="formId"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb dis-flex">
    <h3 class="clickable" routerLink="/admin/surveys">Surveys</h3>
    <i class="bx bx-chevron-right icon"></i>
    <p
      [title]="survey?.title"
      class="clickable"
      [routerLink]="
        '/admin/surveys/' + this.currentShortCode.shortCode + '/edit-survey'
      "
    >
      {{
        survey?.title.length > 20
          ? survey?.title.slice(0, 20) + "..."
          : survey?.title
      }}
    </p>
    <i class="bx bx-chevron-right icon"></i>
    <p>Responses({{ surveyQuestions?.totalResponses }})</p>
  </div>
  <div class="btns dis-flex">
    <!-- <i class="bx bx-spreadsheet spreadsheet icon clickable"></i> -->
    <i class='bx bx-reset icon reset' title="Clear" (click)="openDeleteModal()"></i>
    <a [href]="'https://survey-api.lasacoassurance.com/api/response/download/'+ survey?._id">
      <img
        src="../../../../../assets/img/svg/icons8-microsoft-excel-2019.svg"
        alt="image"
        title="Spreadsheet"
        class="spreadsheet clickable"
        />
        <!-- (click)="downloadAsExcel()" -->
    </a>
    <button
      class="btn tert_btn"
      [routerLink]="'/admin/surveys/' + survey?.shortCode + '/edit-survey'"
    >
      Questions
    </button>
    <button class="btn sec_btn" (click)="openShareModal(survey?.shortCode)">
      Send
    </button>
  </div>
</section>


<section class="response">
  <!-- Data Loading -->
  <span class="loading-spinner" *ngIf="dataLoading">
    <div class="spinner-3"></div>
  </span>

  <div class="response_list" *ngIf="surveyQuestions?.totalResponses > 0">
    <div
      class="response_list_item"
      *ngFor="let question of surveyQuestions?.data; let i = index"
    >
      <div class="response_list_item_header dis-flex">
        <h3 class="question">{{ question.name }}</h3>

        <div class="right">{{ question.totalResponse }} responses</div>
      </div>
      <div class="response_list_item_body">
        <ng-container *ngIf="question.type === 'text'">
          <ul
            class="response_list_item_body_value"
          >
            <li class="dis-flex" *ngFor="let item of question.responses | keyvalue">
              <i class="bx bxs-disc icon"></i>
              {{item.key}}
            </li>
          </ul>
        </ng-container>

        <div class="chart-container">
          <div class="chart" [id]="'chart-' + i"></div>
        </div>

      </div>
    </div>
  </div>

  <ng-container *ngIf="surveyQuestions?.totalResponses === 0">
    <div class="empty-list">
      <h2>No responses!</h2>
      <span class="descp dis-flex">
        <i class="bx bx-info-circle icon"></i>
        <p>
           Click on <strong>send</strong> to get people responses.</p>
      </span>
    </div>
  </ng-container>
</section>

<div class="modal confirm-delete-modal" *ngIf="deleteModal">
  <div class="modal_area">
    <h5></h5>

    <div class="modal-details" style="text-align: left">
      <h2 class="text-primary-color">Confirm delete</h2>
      <p>
        Are you sure you want to clear all responses?
      </p>
    </div>
    <!-- Buttons -->
    <div class="modal-btns dis-flex">
      <button type="button" class="btn skip_btn" (click)="closeDeleteModal()">
        Cancel
      </button>
      <button class="btn prim_btn" (click)="clearResponses()">Clear</button>
    </div>
  </div>
</div>


<!-- Back to top -->
<a
  class="go-top clickable"
  (click)="scrollToTop()"
  [ngClass]="{ show: windowScrolled }"
>
  <i class="bx bx-chevron-up icon"></i>
</a>
