<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<app-share-survey
  *ngIf="isShareModal"
  (isShareModal)="closeShareModal()"
  [formId]="formId"
></app-share-survey>

<section class="main_header dis-flex">
  <div class="breadcrumb dis-flex">
    <h3 class="clickable" routerLink="/admin/surveys">Surveys</h3>
    <i class="bx bx-chevron-right icon"></i>
    <p
      [title]="survey?.title"
      class="clickable"
      [routerLink]="
        '/admin/surveys/' + this.currentShortCode.shortCode + '/edit-survey'
      "
    >
      {{
        survey?.title.length > 20
          ? survey?.title.slice(0, 20) + "..."
          : survey?.title
      }}
    </p>
    <i class="bx bx-chevron-right icon"></i>
    <p>Responses({{ totalSurveyResponses }})</p>
  </div>
  <div class="btns dis-flex">
    <!-- <i class="bx bx-spreadsheet spreadsheet icon clickable"></i> -->
    <img
      src="../../../../../assets/img/svg/icons8-microsoft-excel-2019.svg"
      alt="image"
      title="Spreadsheet"
      class="spreadsheet clickable"
      (click)="exportexcel()"
    />
    <button
      class="btn tert_btn"
      [routerLink]="'/admin/surveys/' + survey?.shortCode + '/edit-survey'"
    >
      Questions
    </button>
    <button class="btn sec_btn" (click)="openShareModal(survey?.shortCode)">
      Send
    </button>
  </div>
</section>

<section class="response">
  <div class="response_list">
    <div
      class="response_list_item"
      *ngFor="let response of responses"
      id="excel-table"
    >
      <div class="response_list_item_header dis-flex">
        <h3 class="question">{{ response.name }}</h3>

        <div class="right">{{ response.value.length }} responses</div>
      </div>
      <div class="response_list_item_body" [ngSwitch]="response.type">
        <ng-container *ngSwitchCase="'radio'">
          <ul
            class="response_list_item_body_value"
            *ngFor="let value of response.value"
          >
            <li class="dis-flex">
              <i class="bx bxs-disc icon"></i>
              {{ value }}
            </li>
          </ul>
          <div class="chart-container">
            <canvas class="chart" [id]="response.questKey"></canvas>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
          <ul
            class="response_list_item_body_value"
            *ngFor="let value of response.value"
          >
            <li class="dis-flex">
              <i class="bx bxs-disc icon"></i>
              {{ value }}
            </li>
          </ul>
          <div class="chart-container">
            <!-- <canvas class="chart" id="chart1">{{ chart }}</canvas> -->
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'text'">
          <ul
            class="response_list_item_body_value"
            *ngFor="let value of response.value"
          >
            <li class="dis-flex">
              <i class="bx bxs-disc icon"></i>
              {{ value }}
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="" *ngFor="let response of anotherResponses">
    <!-- <div>{{response.sectionQuestions}}</div> -->
    <div *ngFor="let section of response.sectionQuestions; index as i">
      <div><strong>{{section.name}}</strong></div>
      <div>{{section.type}}</div>
      <div>{{section.responses}}</div>
      <div class="chart-container">
        <canvas class="chart" [id]="'chart' + i"></canvas>
      </div>
    </div>
  </div>
</section>

