// Font //
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  position: relative;
  color: $text-color1;
  letter-spacing: 0.01em;
  overflow-x: hidden;
}

/* General starts */
a {
  color: $text-color1;
}
button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
input,
button,
textarea,
select {
  font-family: 'DM Sans', sans-serif;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  &[readonly] {
    background: $grey2 !important;
  }
}
input::placeholder,
textarea::placeholder {
  font-family: 'DM Sans', sans-serif;
}
textarea {
  resize: none;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  outline: none;
  border-radius: $border-radius2;
  transition: all 0.4s;
  z-index: 1;
}
.prim_btn {
  color: $white-color;
  background-color: $blue;
  border: 2px solid $blue;
  &:hover {
    background-color: $white-color;
    color: $blue;
  }
}
.sec_btn {
  color: $blue;
  background-color: $white-color;
  border: 2px solid $blue;
  &:hover {
    background-color: $blue;
    color: $white-color;
  }
}

/* Buttons ends */

.bg-success-color {
  background: $success100;
}
.bg-danger-color {
  background: $error100;
}
.bg-warning-color {
  background: $warning100;
}
.text-success {
  color: $success100;
}
.text-danger {
  color: $error100;
}
.text-warning {
  color: $warning100;
}
.dis-flex {
  display: flex;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.hover-1 {
  transition: all 0.2s;
  &:hover {
    text-decoration: underline;
  }
}

/* Section starts */
.container {
  padding: 0 5%;
  @media screen and (min-width: 1200px) {
    max-width: 1250px;
    margin: 0 auto;
  }
}
.sect {
  margin: 5rem 0;
  padding: 3% 0;
  @media only screen and (max-width: 870px) {
    margin: 3rem 0;
  }
}
/* Section ends */

/* Headings starts */
p {
  font-weight: 400;
  font-size: 16px;
  // line-height: 32px;
}
/* Headings ends */

// Error starts //
.input-field {
  &.is-invalid {
      border: 1px solid $error100 !important;
  }
}
.input_error {
  text-align: left;
  color: $error100;
}
// Error ends //


/* Loader starts */
// Spinner
.loading-spinner {
  display: grid;
  place-items: center;
  .spinner-3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, $blue 94%, #0000) top/8px 8px
        no-repeat,
      conic-gradient(#0000 30%, $blue);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
  }
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
/* Loader ends */
