// Font //
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  position: relative;
  color: $text-color1;
  letter-spacing: 0.01em;
  overflow-x: hidden;
}

/* General starts */
a {
  color: $text-color1;
}
button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
input,
button,
textarea,
select {
  font-family: 'DM Sans', sans-serif;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}
input::placeholder,
textarea::placeholder {
  font-family: 'DM Sans', sans-serif;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  outline: none;
  border-radius: $border-radius2;
  transition: all 0.4s;
  z-index: 1;
}
.prim_btn {
  color: $white-color;
  background-color: $blue;
  border: 2px solid $blue;
}
.prim_btn:hover {
  background-color: $white-color;
  color: $blue;
}
.sec_btn {
  background-color: $secondary100;
  color: $white-color;
  border: 2px solid $secondary100;
}
.sec_btn:hover {
  color: $secondary100;
  background-color: $white-color;
  border: 2px solid $secondary100;
}
.load_btn {
  background-color: $white-color;
  color: $blue;
  border: 2px solid $blue;
}
.load_btn:hover {
}

/* Buttons ends */

.bg-success-color {
  background: green;
}
.bg-danger-color {
  background: red;
}
.bg-warning-color {
  background: yellow;
}
.text-success {
  color: green;
}
.text-danger {
  color: red;
}
.text-warning {
  color: yellow;
}
.dis-flex {
  display: flex;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.text-secondary-color {
  color: $secondary100;
}
.text-primary-color {
  color: $blue;
}
.hover-1 {
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.hover-2 {
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
  }
}

/* Headings starts */
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
/* Headings ends */


/* Loader starts */
// Spinner
.loading-spinner {
  display: grid;
  place-items: center;
  .spinner-3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, $blue 94%, #0000) top/8px 8px
        no-repeat,
      conic-gradient(#0000 30%, $blue);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
  }
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
/* Loader ends */
