// Font //
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import 'assets/css/variables.scss';
@import 'assets/css/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  position: relative;
  color: $text-color1;
  letter-spacing: 0.01em;
  overflow-x: hidden;
}

/* General starts */
a {
  color: $text-color1;
}
button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
input,
button,
textarea,
select {
  font-family: 'DM Sans', sans-serif;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}
input::placeholder,
textarea::placeholder {
  font-family: 'DM Sans', sans-serif;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  outline: none;
  border-radius: $border-radius2;
  transition: all 0.4s;
  z-index: 1;
}
.prim_btn {
  color: $white-color;
  background-color: $primary100;
  border: 2px solid $primary100;
}
.prim_btn:hover {
  background-color: $white-color;
  color: $primary100;
}
.sec_btn {
  background-color: $secondary100;
  color: $white-color;
  border: 2px solid $secondary100;
}
.sec_btn:hover {
  color: $secondary100;
  background-color: $white-color;
  border: 2px solid $secondary100;
}
.tert_btn {
  color: $secondary100;
  background-color: $white-color;
  border: 2px solid $secondary100;
}
.tert_btn:hover {
  background-color: $secondary100;
  color: $white-color;
  border: 2px solid $secondary100;
}

.success_btn,
.grey_btn,
.warning_btn,
.danger_btn {
  display: inline-block;
  border: 0.5px solid;
  padding: $s-1 $s-2;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  transition: all 0.4s;
  // cursor: pointer;
}
.success_btn {
  background: $success100;
  color: $success100;
  // border-color: $success100;
}
.grey_btn {
  background-color: $white-color;
  color: $inner-border;
  // border-color: $grey100;
}
.warning_btn {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #FACC15;
  color: $warning100;
  // border-color: $grey100;
}
.danger_btn {
  background: $error100;
  color: $error100;
  // border-color: $grey100;
}
/* Buttons ends */

.dis-flex {
  display: flex;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.text-secondary-color {
  color: $secondary100;
}
.text-primary-color {
  color: $primary100;
}
.hover-1 {
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    color: $secondary100;
  }
}
.hover-2 {
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    color: $primary100;
  }
}
/* Headings starts */