<header>
  <div class="header_container dis-flex">
    <span class="header_left clickable">Lasaco Assurance</span>
    <div class="header_right dis-flex">
      <!-- <button class="btn prim_btn" routerLink="/auth/login">Login</button> -->
    </div>
  </div>
</header>

<!-- Survey preview -->
<section class="sp">
  <div class="sp_header">
    <h3>Survey Question</h3>
    <p>Description</p>
  </div>
  <div class="sp_body">
    <div class="sp_body_list">
      <div class="sp_body_list_item">
        <h4>Question</h4>
        <div class="sp_body_list_item_response">
          <div class="sp_body_list_item_response_info dis-flex">
            <i class="bx bx-info-circle icon"></i>
            <p>Select a single option</p>
          </div>
          <ul class="sp_body_list_item_response_options">
            <li class="dis-flex">
              <input type="radio" id="1" name="options-1" />
              <label for="1"> Option One </label>
            </li>
            <li class="dis-flex">
              <input type="radio" id="2" name="options-1" />
              <label for="2"> Option Two </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="sp_body_list_item">
        <h4>Question</h4>
        <div class="sp_body_list_item_response">
          <div class="sp_body_list_item_response_info dis-flex">
            <i class="bx bx-info-circle icon"></i>
            <p>Select multiple options</p>
          </div>
          <ul class="sp_body_list_item_response_options">
            <li class="dis-flex">
              <input type="checkbox" id="3" name="options-2" />
              <label for="3"> Option One </label>
            </li>
            <li class="dis-flex">
              <input type="checkbox" id="4" name="options-3" />
              <label for="4"> Option Two </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="sp_body_list_item">
        <h4>Question</h4>
        <div class="sp_body_list_item_response">
          <div class="input-field">
            <input type="text" placeholder="Type your response" />
          </div>
        </div>
      </div>
    </div>
    <div class="sp_body_btns">
      <button class="btn prim_btn">Submit</button>
    </div>
  </div>
</section>
