@import '../../../../../assets/css/dash.scss';


.pagination {
    justify-content: space-between;
    gap: $s-2;
    margin-top: $s-2;
    .btn {
        &.hide {
            visibility: hidden;
        }
    }
}