@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dash.scss';


.all-admins {
    .table-container {
        overflow-x: auto;
        // Table
        table {
            border-collapse: separate;
            border-spacing: 0 $s-2;
            width: 100%;
            min-width: max-content;
            td, th {
                padding: $s-2;
                // font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.01em;
                text-align: left;
            }
            tr {
                margin-bottom: $s-2;
                &.table-header {
                    th {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                &.table-body {
                    background-color: $grey4;
                    td {
                        &:first-child {
                            border-radius: $border-radius3 0 0 $border-radius3;
                        }
                        &:last-child {
                            border-radius: 0 $border-radius3 $border-radius3 0;
                        }
                        &.actions {
                            button {
                                width: 100px;
                                padding: 0.5rem;
                                font-size: 14px;
                                &.suspend-btn {
                                    background-color: #FFA724;
                                    color: $white-color;
                                }
                                &.del-btn {
                                    background-color: rgba(228, 71, 68, 0.1);
                                    color: #E44744;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}