<!-- Alert -->
<app-alert-popup
  *ngIf="isAlert"
  [text]="alertMessage"
  [color]="alertColor"
></app-alert-popup>

<section class="main_header dis-flex">
  <div class="breadcrumb">
    <h3 class="clicable" routerLink="/admin/display-admins">Admins</h3>
  </div>
  <div class="btns">
    <button class="btn prim_btn" routerLink="/admin/add-admin">
      Add admin
    </button>
  </div>
</section>

<section class="all-admins">
  <!-- Data Loading -->
  <span class="loading-spinner" *ngIf="dataLoading">
    <div class="spinner-3"></div>
  </span>

  <div class="table-container" *ngIf="allAdmins?.docs.length > 0">
    <table>
      <tr class="table-header">
        <th>Name</th>
        <th>Email</th>
        <th>Total Surveys</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr class="table-body" *ngFor="let admin of allAdmins?.docs">
        <!-- <ng-container *ngIf="admin.type === 'admin'"> -->
          <td>{{ admin.firstName + " " + admin.lastName }}</td>
          <td>{{ admin.email }}</td>
          <td>{{admin.totalSurveyCreated}}</td>
          <td>{{ admin.status }}</td>
          <td class="actions">
            <button
              type="button"
              class="btn suspend-btn"
              (click)="updateAccountStatus(admin)"
            >
              <span *ngIf="admin.status === 'active'">Suspend</span>
              <span *ngIf="admin.status === 'inactive'">Unsuspend</span>
            </button>
          </td>
        <!-- </ng-container> -->
      </tr>
    </table>

    <!-- <div class="pagination dis-flex">
      <button
        type="button"
        class="btn prim_btn dis-flex"
        [class.hide]="allAdmins?.hasPreviousPage === false"
        >
        <i class="bx bx-skip-previous icon"></i>Previous
      </button>
      <span>Page {{allAdmins?.page}}/{{allAdmins?.totalPages}}</span>
      <button
        type="button"
        class="btn prim_btn dis-flex"
        [class.hide]="allAdmins?.hasNextPage === false"
        >
        Next<i class="bx bx-skip-next icon"></i>
      </button>
    </div> -->
  </div>
  
</section>
