@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';

footer {
    border: 1px solid $grey2;
    .container {
        gap: $s-2;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: $s-4;
        @media only screen and (max-width: 670px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .left {
            .logo {
                margin-bottom: $s-2;
            }
        }
        .contact {
            .social-links {
                margin-bottom: $s-2;
                gap: $s-1;
                li {
                    cursor: pointer;
                    a {
                        @include icon-area($size: 45px, $color: $grey2);
                        transition: all .2s;
                        i {
                            font-size: 18px;
                        }
                        &:hover {
                            background: $blue;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}