<footer>
  <div class="container dis-flex">
    <div class="left">
      <h3 class="logo">Lasaco Assurance</h3>
      <p class="copy-rigth">
        @{{ currentYear }} Lasaco Assurance Plc. All rights reserved
      </p>
    </div>
    <div class="contact">
      <ul class="social-links dis-flex">
        <li>
          <a href="https://www.facebook.com/LASACOAssurance" target="_blank"
            ><i class="bx bxl-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://twitter.com/LASACOAssurance" target="_blank"
            ><i class="bx bxl-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/lasacoassurance" target="_blank"
            ><i class="bx bxl-instagram"></i
          ></a>
        </li>
        <li>
          <a
            href="https://ng.linkedin.com/company/lasaco-assurance-plc"
            target="_blank"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </li>
      </ul>
      <p class="email clickable hover-1">hello@lacasoassurance.com</p>
    </div>
  </div>
</footer>
