<footer>
  <div class="container dis-flex">
    <div class="left">
      <h3 class="logo">Lasaco Assurance</h3>
      <p class="copy-rigth">
        @{{ currentYear }} Lasaco Assurance Plc. All rights reserved
      </p>
    </div>
    <div class="contact">
      <ul class="social-links dis-flex">
        <li>
          <span>
            <i class="bx bxl-facebook"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="bx bxl-twitter"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="bx bxl-instagram"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="bx bxl-linkedin"></i>
          </span>
        </li>
      </ul>
      <p class="email clickable">hello@lacasoassurance.com</p>
    </div>
  </div>
</footer>
